.list-product {
  padding: 24px 36px;
}
.list-product-title {
  color: red;
  font-size: 36px;
  text-align: center;
  margin: 16px 0 24px;
}

.list-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
