.form-create-product {
  border: 1px solid lightgray;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.form-create-product-top {
  height: 40px;
  background: #5b5a5a;
  color: #c9c93a;
  display: flex;
  align-items: center;
  padding: 0 16px;

  h6 {
    margin-bottom: 0;
  }
}

.form-create-product-center {
  padding: 16px;
}

.form-create-product-bottom {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  padding: 0 16px 16px;
}
