.app-body-container {
  width: 1200px;
  height: 100vh;
  background-color: lightblue;
  margin: auto;
  padding: 48px 0;
}

.app-body-title {
  font-size: 28px;
  color: #e6656e;
  font-weight: 400;
}

.app-body-group-header {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin: 32px 0 48px 0;
}

.app-body-group-header p {
  width: 200px;
  font-weight: 600;
}

/* form-search */

.app-body-form-search {
  position: relative;
}

.app-body-btn-search {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-body-btn-search:hover {
  border: none;
}

.app-body-form-control-search {
  padding: 8px 8px 8px 48px;
  width: 500px;
  height: 44px;
}

/* group form select */

.app-body-group-select {
  display: flex;
  column-gap: 16px;
  margin: 16px 0 0;
}

.app-body-group-select-active,
.app-body-group-select-category {
  width: 220px;
}

.app-body-group-select-add-recent {
  width: 300px;
}

/* bottom section */

.app-body-bottom {
  margin: 36px 0px;
  width: 85%;
}

.app-body-bottom-group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-body-bottom-group-title button {
  background-color: #ff4d00;
  color: #fff;
}

.app-body-bottom-list-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.product-item-image {
  width: 100%;
  max-width: 245px;
}

.row-top,
.row-bottom {
  display: flex;
  justify-content: space-between;
}
